*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    height: 100%;
    font-family: 'Playfair Display', serif;
    font-family: 'Pridi', 'serif';
    overflow-x: hidden;
}

.about-bg {
    background-image: url("boston.jpg");
    height: 100%;
    width: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
  }


.about-block {
    display: inline-flex;
    background-color: rgb(250, 235, 215, 0.9);
    width: 40%;
    max-height: inherit;
    justify-content: center;
    margin-left: 15%;
    border: 2px solid rgb(92, 90, 90, 0.8);
    border-radius: 20px;
}

.description {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
    width: 80%;
    height: inherit;
}

.description p {
    white-space: normal;
}


.grad {
    margin-left: 15%;
    margin-top: 1%;
    display: block;
    width: 500px;
    height: 650px;
}

.grad img {
    border: 2px solid black;
    width: 300px;
    height: 300px;
}


.arrow {
    width: 100px;
    margin-left: 45%;
    margin-top: 10%;
    outline-color: white;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeArrowDown 2s ease-in-out infinite;
}

@keyframes fadeArrowDown {
    0%, 100% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0.8;
        transform: translateY(0);
    }
}

.icons {
    width: 10%;
    display: flex;
    margin-top: 1rem;
}


.link {
    display: flex;
    padding: 5px 20px;
    background-color: rgb(253, 242, 235);
    border: 1px solid black;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    height: 50px;
    margin-left: 4rem;
    justify-content: center;
    align-items: center;
}

.link:hover {
    background-color: rgb(216, 202, 193);
}

small {
    font-weight: 300;
    padding-top: 6px;
    padding-right: 8px;
    font-size: medium;
}

h1 {
    font-weight: 600;
    font-family: 'Playfair Display', 'serif';
    font-size: xx-large;
}

.name {
    font-weight: 600;
    padding-bottom: 20px;
    font-style: italic;
}

p {
    font-weight: 400;   
    white-space: nowrap;
    padding: 2px;
    font-size: large;
    font-family: 'Playfair Display', 'serif';
}

.main {
    background-color: ivory;
}

.skills-header {
    padding-top: 5%;
    padding-bottom: 2%;
    font-weight: 400;
    text-align: center;
}

.projects-header {
    padding-top: 5%;
    font-weight: 400;
    text-align: center;
}

.project-links {
    text-decoration: none;
    color: black;
    display: block;
    text-wrap: wrap;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px; 
    width: 500px;
}


.project-links img {
    border-bottom: 2px solid black;
    width: 500px;
    height: 350px;
}


li {
    margin: 2% 5%;
}


ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-list li {
    text-align: center;
}

.skills-list li i {
    display: block;
}

.skills-icons {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 70%;
}

@media (max-width: 1300px) {
    .link {
        margin-left: 0px;
    }
}

@media (max-width: 1230px) {
    .grad {
        display: none;
    }
}


@media (max-width: 900px) {
    .icons a small {
        display: none;
    }
}