*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    height: 100%;
    font-family: 'Playfair Display', serif;
    font-family: 'Pridi', 'serif';
    overflow-x: hidden;
}

.about-bg {
    background-image: url("boston.jpg");
    height: 100%;
    width: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
  }


.about-block {
    display: inline-flex;
    background-color: rgb(250, 235, 215, 0.9);
    width: 40%;
    max-height: inherit;
    justify-content: center;
    margin-left: 15%;
    border: 2px solid rgb(92, 90, 90, 0.8);
    border-radius: 20px;
}

.description {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
    width: 80%;
    height: inherit;
}

.description p {
    white-space: normal;
}


.grad {
    display: block;
    width: 50%;
    height: 100%;
 
}

.grad img {
    border: 2px solid black;
    width: 40%;
    height: 40%;
}


.icons {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}


.link {
    display: flex;
    padding: 5px 20px;
    background-color: rgb(253, 242, 235);
    border: 1px solid black;
    border-radius: 25px;
    text-decoration: none;
    color: black;
    height: 50px;
    margin: 0 5%;
    justify-content: center;
    align-items: center;
}

.link:hover {
    background-color: rgb(216, 202, 193);
}

small {
    font-weight: 300;
    padding-top: 6px;
    padding-right: 8px;
    font-size: medium;
}

h1 {
    font-weight: 600;
    font-family: 'Playfair Display', 'serif';
    font-size: xx-large;
}

.name {
    font-weight: 600;
    padding-bottom: 20px;
}

p {
    font-weight: 400;   
    white-space: nowrap;
    padding: 2px;
    font-size: large;
}

.main {
    background-color: rgb(241, 241, 227);
}

.header {
    padding-top: 5%;
    padding-bottom: 2%;
    font-weight: 400;
    text-align: center;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;    
    padding-bottom: 50px;
}

.projects button {
    width: 50px;
    height: 65px;
    background: none;           
    border: none;             
    padding: 0;               
    margin: 0;              
    cursor: pointer;           
    outline: none;  
    opacity: 70%;  
}

.projects button:hover {
    opacity: 100%;
}


.projects div {
    display: flex;
    background-color: antiquewhite;
    margin: 0 20px;
    font-size: 1rem; 
    width: 500px;
    height: 360px;
}


.projects img {
    width: 100%;
    height: 80%;
}

.active {
    display: block;
    border: 1px solid black;
    text-align: center;
}

.active img {
    opacity: 85%;
}

.active img:hover {
    opacity: 100%;
}

.active:hover {
    background-color: rgb(222, 208, 185);

}

.active a { 
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.neighbors {
    display: block;
    opacity: 50%;
    margin-top: 100px;
    width: 250px  !important;
    height: 183px  !important;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.neighbors img {
    height: 100%;
}


.skills-list {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-list li {
    text-align: center;
    align-items: center;
    width: 80px;
    margin: 10px 20px;
}

.skills-list i {
    display: block;
    height: 100px;
    margin: 0 auto;
    padding: 0 5px;
}

.skills-icons {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
}


@media (max-width: 1230px) {
    .grad {
        display: none;
    }
    .about-block {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 1000px) {
    .neighbors {
        display: none !important;
    }
}

@media (max-width: 900px) {
    .icons a small {
        display: none;
    }
}

@media (max-width: 700px) {

}
